:root {
    /* ---colors--- */
    --primary: #B5A1E5;
    --on-primary: #100E17;
    --background: #131214;
    --on-background: #EAE6F2;
    --surface: #1D1C1F;
    --surface-hover: rgba(41, 45, 41);
    --on-surface: #DDDAE5;
    --on-surface-variant: #7B7980;
    --on-surface-variant-2: #B9B6BF;
    --outline: #3E3D40;
    --bg-aqi-1: rgb(137, 229, 137);
    --on-bg-aqi-1: #1F331F;
    --bg-aqi-2: #E5DD89;
    --on-bg-aqi-2: #33311F;
    --bg-aqi-3: #E5C089;
    --on-bg-aqi-3: #332B1F;
    --bg-aqi-4: #E58989;
    --on-bg-aqi-4: #331F1F;
    --bg-aqi-5: #E589B7;
    --on-bg-aqi-5: #331F29;
    --white: hsl(0, 0%, 100%);
    --white-alpha-4: hsla(0, 0%, 100%, 0.04);
    --white-alpha-8: hsla(0, 0%, 100%, 0.08);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);

    /* ---Gradient color--- */
    --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
    --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);

    /* ---Typography--- */
    --ff-nunito-sans: 'Nunito Sans', sans-serif;

    --heading: 5.6rem;
    --title-1: 2rem;
    --title-2: 1.8rem;
    --title-3: 1.5rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.5rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;

    --weight-regular: 400;
    --weight-semiBold: 600;

    /* ---Shadow--- */
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

    /* ---Border Radius--- */
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;

    /* ---Transition--- */
    --transition-short: 100ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-aqi-1) var(--surface);
}

html,
body {
    height: auto;
    width: 100%;
}

html {
    font-family: var(--ff-nunito-sans);
    font-size: 10px;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--body-3);
    /* overflow: hidden; */
}

/* -- font pre-styles */
.heading {
    /* --heading: 5.6rem;*/
    font-size: var(--heading);
}

.title-1 {
    /* --title-1: 2rem; */
    font-size: var(--title-1);
}

.title-2 {
    /* --title-2: 1.8rem; */
    font-size: var(--title-2);
}

.title-3 {
    /* --title-3: 1.5rem; */
    font-size: var(--title-3);
}

.body-1 {
    /* --body-1: 2.2rem; */
    font-size: var(--body-1);
    font-weight: var(--weight-regular);
}

.body-2 {
    /* --body-2: 2rem; */
    font-size: var(--body-2);
    font-weight: var(--weight-regular);
}

.body-3 {
    /* --body-3: 1.5rem;*/
    font-size: var(--body-3);
    font-weight: var(--weight-regular);
}

.label-1 {
    /* --label-1: 1.4rem; */
    font-size: var(--label-1);
    font-weight: var(--weight-regular);
}

.label-2 {
    /* --label-2: 1.2rem; */
    font-size: var(--label-2);
    font-weight: var(--weight-regular);
}



header {
    /* width: 100; */
    height: 5em;
    padding: 0px 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--outline);
    background-color: var(--background);
}

header .logo {
    user-select: none;
    height: 2.5em;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* background-color: rgb(145, 145, 145); */
}

.logo i {
    -webkit-text-stroke: 2px #89E589;
}

.logo h2 {
    color: var(--bg-aqi-1);
}

.logo span {
    color: var(--on-background);
}

header .searchBox {
    height: 2.5em;
    width: 40%;
    padding: 5px 20px;
    border-radius: var(--radius-28);
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.searchBox:hover, .searchBox:focus-within {
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    background-color: var(--surface-hover);
}

.searchBox .searchView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.searchBox .searchResults {
    position: absolute;
    left: 0%;
    top: 45%;
    z-index: -1;
    width: 100%;
    height: auto;
    padding-top: 1.5em;
    border-radius: 0px 0px var(--radius-28) var(--radius-28);
    background-color: inherit;
    display: none;
}

.searchBox:focus-within .searchResults {
    display: block;
}

.searchBox .searchResults li {
    height: 3em;
    padding: 0em 1.5em;
    list-style: none;
    border-top: 1px solid var(--white-alpha-8);
    display: flex;
    align-items: center;
}

.searchBox button {
    background-color: transparent;
    border: none;
    color: var(--on-background);
    border-radius: var(--radius-circle);
    width: 2em;
    height: 2em;
}
.searchBox button:focus{
    outline: none;
    /* background-color: rgba(137, 229, 137, 0.2); */
}

.searchBox input {
    /* width: 100%; */
    flex: 1;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    color: var(--on-background);
    font-weight: var(--weight-semiBold);
    background: none;
    border: none;
}

.searchBox input:focus {
    outline: none;
}
.searchBox .backButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: var(--white-alpha-8);
    display: none;
    color: var(--bg-aqi-4);
}



header .loactionBox {
    padding: 10px 15px;
    width: 15%;
    min-width: 8em;
    height: 2.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    line-height: 1em;
    text-align: center;
    border-radius: var(--radius-28);
    color: #100E17;
    background-color: var(--primary);
}

header .loactionBox:hover {
    background-color: rgba(181, 161, 229, 0.9);
}


main {
    max-height: calc(100vh - 5em);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.mainChildCards {
    padding: 1.5em;
    border-radius: var(--radius-28);
    background-color: var(--surface);
}

.leftParent {
    max-height: inherit;
    width: 100%;
    flex: 1;
    min-width: 410px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.rightParent {
    flex: 3;
    min-width: 410px;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
    overflow-y: scroll;
}

.leftParent .leftChild1 {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftChild1 div {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.leftChild1 .result {
    gap: 3em;
}


.leftParent .leftChild2 {
    width: 100%;
    height: 20em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
}

.leftChild2 h3 {
    position: absolute;
    left: 24px;
    top: 5%;
}

.leftChild2 div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1F331F; */
}

.leftChild2 .fa-moon {
    margin-right: 10px;
    font-size: 1.5em;
}



.rightParent .rightChild1 {
    width: 100%;
    padding-top: 3.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.rightChild1>h3 {
    position: absolute;
    top: 0.8em;
    left: 1.5em;
}

.rightChild1>div {
    display: flex;
    gap: 1em;
}

.rightChild1>div:nth-child(2) {
    flex-wrap: wrap;
}

.rightChild1 .container-big {
    /* width: 50%; */
    flex: 1;
    min-width: 480px;
    height: 9em;
    padding: 1em;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1em;
    border-radius: var(--radius-16);
    background-color: var(--black-alpha-10);
}

.container-title {
    position: absolute;
    left: 1em;
    top: 0.5em;
}


.rightChild1 .container-big .label,
.rightChild1 .container-small .label {
    position: absolute;
    right: 1em;
    top: 0.5em;
    padding: 2px 10px;
    border-radius: var(--radius-16);
    color: var(--on-bg-aqi-1);
    background-color: var(--bg-aqi-1);
}

.rightChild1 i {
    font-size: 2.5em;
}

.rightChild1 .container-big>div {
    width: 100%;
    height: 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    text-align: center;
    /* background-color: #fff; */
}

.rightChild1 .container-big:nth-child(2) div {
    align-items: start;
}

.rightChild1 .container-big:nth-child(2) .icons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightChild1 .container-small {
    position: relative;
    width: 100%;
    height: 9em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: var(--radius-16);
    background-color: var(--black-alpha-10);
}

.rightChild2 {
    width: 100%;
    position: relative;
    padding: 0%;
    padding-top: 1em;
    border-radius: 0%;
    background-color: transparent;
}

.rightChild2>div {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.rightChild2 h3 {
    position: absolute;
    left: 0.3em;
    top: -0.2em;
}

.rightChild2 .child {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-16);
    background-color: var(--surface);
}

.rightChild2 div i {
    font-size: 2.5em;
}

.rightParent .rightChild2 {
    width: 100%;
    /* height: 12em; */
}

footer {
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    color: rgba(255, 255, 255, 0.5);
    border-top: 2px solid var(--white-alpha-8);
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

footer a {
    text-underline-offset: 5px;
}

footer a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

footer a:visited {
    color: rgba(255, 255, 255, 0.3);
}


footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}



@media screen and (max-width: 500px) {

    header {
        padding: 1em;
    }

    .logo {
        font-size: 1em;
    }

    header .searchBox {
        margin-left: 5em;
        width: min-content;
        position: relative;
    }

    .searchBox:focus-within{
        position: absolute;
        width: 100%;
        margin: 0%;
        left: 0px;
        top: 0%;
        padding-block: calc(2em + 5px);
        border-radius: 0px;
    }
    .searchBox:focus-within input{
        display: block;
    }
    .searchBox:focus-within .backButton{
        display: flex;
    }

    .searchBox .searchResults{
        border-radius: 0%;
    }

    .searchBox input {
        display: none;
    }

    header .loactionBox {
        padding: 0%;
        min-width: min-content;
    }

    header .loactionBox h3 {
        display: none;
    }

    main {
        max-height: none;
    }

    .leftParent .leftChild1 {
        gap: 1em;
    }

    .leftChild1 .result {
        justify-content: space-between;
        /* background-color: #1F331F; */
    }

    .leftChild1 .result i {
        margin-right: 0.5em;
        font-size: 5em;
    }

    .leftParent .leftChild2 {
        padding-top: 3.5em;
    }

    .rightChild1 .container-big {
        min-width: 100%;
        /* gap: 1.5em; */
    }

    .rightChild1 i {
        font-size: 2em;
    }

    .container-big p {
        font-size: 0.8em;
    }

    .container-big h1 {
        font-size: 1.5em;
    }

    .rightChild1>div:nth-child(3) {
        flex-wrap: wrap;
        /* background-color: #1F331F; */
    }

    .rightChild1 .container-small {
        padding: 3em 1em 1em 1em;
        width: 50%;
        height: auto;
        flex: 0.5;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        /* gap: 1em; */
        text-align: center;
        text-wrap: balance;
    }

    .container-small i {
        font-size: 1.5em;
    }


    .rightParent .rightChild2 {
        height: auto;
        width: auto;
        overflow-x: scroll;
    }

    .rightChild2>div {
        width: max-content;
        gap: 1em;
    }

    .rightChild2 .child {
        padding: 1em;
        width: 6.5em;
        gap: 1em;
    }

    .rightChild2 div i {
        font-size: 2em;
    }

    footer {
        padding: 3em 0em;
        flex-direction: column;
        gap: 3em;
    }

    footer>div:nth-child(1) {
        flex-direction: column;
    }

}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: grid; */
    place-items: center;
    background-color: var(--background);
    z-index: 1;
    display: none;
}
.loading::before{
    content: "";
    width: 48px;
    height: 48px;
    border: 4px solid var(--on-background);
    border-block-start-color: transparent;
    border-radius: var(--radius-circle);
    animation: loading 1000ms linear infinite;
}
@keyframes loading {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


.errorContent{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: var(--background);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    display: none;
}
.errorContent a{
    width: 5em;
    height: 2em;
    background-color: #89E589;
    display: grid;
    place-items: center;
    border-radius: 20px;
}